.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}
/* set height of 100% too so that in the naviagtion,
it can then also control the height relative to the toolbar height.
make sure that the navigation items span the full height of this toolbar.*/
.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}
